$primary: #307FE2;
$secondary: #44d62c;
$secondary-light: #0fe419;
$danger: #C8102E;
$orange: #FFA300;
$normal: #f6f6f6;
$black: #000;
$white: #fff;
$gray: #888b8d;
$gray-light: #f6f6f6;
$red-orange:#f04100;

/***/
$light-gray: #cccccc;
$dappled: #7a7a7a;
$white: #ffffff;
$blue: #307fe2;
$aliceblue: #e9f1f9;
$lightg: #f6f6f6;
$offwhite: #f7f7f7;	
$darkgray: #dfdfdf;

/***/
$groupchat-bg: $red-orange;
$groupchat-color: $white;